@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    color: var(--primary-text);

    --header-fs: 3.5rem;
    --menu-fs: 4rem;

    --title-ff: 'Oswald', sans-serif;

    --title-fw: 400;


    --primary-title: rgba(206, 99, 0, 1);
    --secondary-title: rgba(206, 99, 0, .7);
    --primary-border: rgba(77, 77, 77, 1);
    --primary-text: rgba(169, 169, 169, 1);
    --secondary-text: rgba(202, 202, 202, 1);
    --lines: rgba(150, 148, 148, 1);
}

body {
    background-image: url('images/background.jpg');
    background-position: center top;
}

.hero {
    height: 100vh;
    border-bottom: 2px solid var(--lines);
    display: flex;
    flex-direction: column;
}

.hero_title {
    display: flex;
    justify-content: flex-end;
    font-size: var(--header-fs);
    font-family: var(--title-ff);
    padding: .5rem 0 1rem 1rem;
    border-bottom: 2px solid var(--lines);
}

.hero_title_main {
    background: url('images/title-texture.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero_title_sub {
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--primary-border);
    color: transparent;
}

.hero_title_sub,
.hero_title_main {
    font-weight: var(--title-fw);
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero_content_top-menu {
    text-align: right;
    margin: 1rem 0 0 0;
}

.hero_content_top-menu_el {
    margin: 0 0 1rem 0;
}

.top_menu_link {
    font-family: var(--title-ff);
    font-size: var(--menu-fs);
    color: var(--primary-title);
    text-transform: uppercase;
    text-decoration: none;
    line-height: .75;
}

