@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Oswald:wght@200;300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    color: var(--primary-text);

    --header-fs: 2rem;
    --menu-fs: 3.5rem;
    --title-fs: 2.25rem;
    --button-fs: 1.2rem;
    --text-fs: .9rem;
    --subtitle-fs: 1.5rem;

    --title-ff: 'Oswald', sans-serif;
    --text-ff: 'Source Code Pro', monospace;
    --section-title-ff: 'Nothing You Could Do', cursive;

    --title-fw: 400;
    --button-fw: 300;

    --title-margin: 8rem 0 4rem 0;

    --primary-title: rgba(206, 99, 0, 1);
    --primary-border: rgba(77, 77, 77, 1);
    --primary-text: rgba(169, 169, 169, 1);
    --secondary-text: rgba(202, 202, 202, 1);
    --lines: rgba(150, 148, 148, 1);
    --bg: rgba(30, 30, 30, 1);
    --projects__panel-bg: rgb(32, 32, 32);
}

body {
    /*
    background-image: url('images/background.jpg');
    background-position: right top;
    */
    background-color: var(--bg);
}

.large-desktop {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 1rem;    
}

section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: block;
    color: var(--primary-text);
    text-decoration: none;
}

button {
    display: block;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    color: var(--primary-text);
    font-family: var(--title-ff);
    font-size: var(--button-fs);
    font-weight: var(--button-fw);
    text-transform: uppercase;
    padding: 1.25rem;
    border: 1px solid var(--primary-text);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.title {
    font-family: var(--section-title-ff);
    font-size: var(--title-fs);
    color: var(--primary-title);
    font-weight: var(--title-fw);
    margin: var(--title-margin);
    width: 100%;
    text-align: center;
}

/* HERO/HEADER */

.hero {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--lines);
}

.hero_title {
    display: flex;
    justify-content: flex-end;
    font-size: var(--header-fs);
    font-family: var(--title-ff);
    padding: .5rem 1rem 1rem 1rem;
    border-bottom: 2px solid var(--lines);
}

.hero_title_main {
    color: var(--secondary-text);
    position: relative;
}

.hero_title_main::before,
.hero_title_main::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: attr(data-text);
}

.hero_title_main::before {
    color: purple;
    z-index: -1;
    animation: glitch01 .3s ease .3s infinite;
}

.hero_title_main::after {
    color: cyan;
    z-index: -2;
    animation: glitch02 .3s ease infinite reverse;
}

@keyframes glitch01 {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -2px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}

@keyframes glitch02 {
    0% {
        transform: translate(-1px, 1px);
    }
    25% {
        transform: translate(-1px, -1px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    75% {
        transform: translate(1px, -1px);
    }
    100% {
        transform: translate(-1px, 1px);
    }
}

/*
@keyframes glitch01 {
    0% {
        transform: translate(-2px, 2px);
    }
    25% {
        transform: translate(-4px, -4px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(2px, -4px);
    }
    100% {
        transform: translate(-2px, 2px);
    }
}

@keyframes glitch02 {
    0% {
        transform: translate(-2px, 2px);
    }
    25% {
        transform: translate(-2px, -2px);
    }
    50% {
        transform: translate(2px, 2px);
    }
    75% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(-2px, 2px);
    }
}
*/

.hero_title_sub {
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--primary-border);
    color: transparent;
}

.hero_title_sub,
.hero_title_main {
    font-weight: var(--title-fw);
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero_content_top-menu {
    text-align: right;
    margin: 1rem 1rem 0 0;
    list-style: none;
}

.hero_content_top-menu_el {
    margin: 0 0 1rem 0;
}

.top_menu_link {
    font-family: var(--title-ff);
    font-size: var(--menu-fs);
    color: var(--primary-title);
    text-transform: uppercase;
    line-height: .9;
}

/* SOCIAL BOX */

.social-box {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
    border-left: 16px solid var(--lines);
    font-family: var(--text-ff);
}

.social-box > * {
    margin: 0 0 1rem 0;
}

.social-box_title {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 1.5rem;
    font-family: var(--section-title-ff);
}

.social-box_el {
    display: flex;
    align-items: center;
}

.social-box_el_img {
    width: 1.5rem;
}

.social-box_el_link {
    font-size: 1rem;
    color: var(--secondary-text);
    margin: 0 0 0 1rem;
}

/* ABOUT ME */

.first-title {
    margin: 4rem 0;
}

.about-me_text-panel {
    margin: 0 0 2rem 0;
}
.about-me_text {
    font-family: var(--text-ff);
    font-size: var(--text-fs);
    line-height: 1.5;
    text-align: justify;
    margin: 0 0 2rem 0;
}

.top-btn {
    margin: 0 0 2rem 0;
}

/* SKILLS */

.skills_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skills_panel_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4rem 0;
}

.skills_panel_content_title {
    font-size: var(--subtitle-fs);
    font-family: var(--title-ff);
    font-weight: 300;
    color: var(--secondary-text);
    margin: 0 0 2rem 0;
}

.skills_panel_content_text {
    font-family: var(--text-ff);
    font-size: .8rem;
}

/* PROJECTS */

.projects_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4rem 0;
}

.projects_panel_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 0 1rem 0;
}

.projects_panel_img_link {
    width: 100%;
}

.projects_panel_img_desktop {
    width: 100%;
}

.projects_panel_img_mobile {
    margin-top: -100%;
    width: 35%;
}

.projects_panel_content {
    display: flex;
    flex-direction: column;
}

.projects_panel_content_title {
    font-family: var(--title-ff);
    font-size: var(--subtitle-fs);
    font-weight: 300;
    color: var(--primary-title);
    margin: 0 0 2rem 0;
}

.projects_panel_content_description {
    font-family: var(--text-ff);
    font-size: var(--text-fs);
    list-style: none;
}

.projects_panel_content_description_el {
    margin: 0 0 1rem 0;
}

.projects_panel_content_description_el:last-child {
    margin: 0;
}
/* CONTACT */

.contact_panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4rem 0;
}

.contact_content {
    display: flex;
    flex-direction: column;   
    align-items: center; 
    margin: 0 0 4rem 0;
} 

.contact_content:last-child {
    margin: 0;
}

.contact_content_title {
    font-size: var(--subtitle-fs);
    font-family: var(--title-ff);
    font-weight: 300;
    color: var(--secondary-text);
    margin: 0 0 2rem 0;
}

.contact_content_text {
    font-family: var(--text-ff);
    font-size: var(--text-fs);
}

.contact_bottom-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 4rem 0;
}

.contact_bottom-menu_el {
    margin: 0 0 1rem 0;
}

.contact_bottom-menu_el:last-child {
    margin: 0;
}

.bottom_menu_link {
    font-family: var(--title-ff);
    color: var(--primary-title);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
}

.contact_copyright {
    font-family: var(--text-ff);
    font-size: var(--text-fs);
    text-align: center;
    margin: 0 0 4rem 0;
}

/*============================================================================
==============================================================================
MEDIA TABLET
==============================================================================
============================================================================*/

@media (min-width: 768px) {

    :root {
        --header-fs: 3.5rem;
        --menu-fs: 6rem;
    }
    
/* SOCIAL BOX */
    
    .social-box_title {
        font-size: 2rem;
    }
        
    .social-box_el_img {
        width: 2rem;
    }
        
    .social-box_el_link {
        font-size: 1.5rem;
    }
    
/* ABOUT ME */
    
    .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .top-btn {
        margin: 0;
    }

    .btn-link {
        margin: 0 1rem;
    }

/* SKILLS */
    
    .skills_panel_content {
        flex-direction: row;
        align-items: center;
    }
    
    .skills_panel_content_title {
        width: 20%;
        margin: 0;
    }
    
    .skills_panel_content_text {
        font-family: var(--text-ff);
        font-size: 1rem;      
    }
    
/* PROJECTS */

    .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    .projects_panel {
        width: 48%;
    }

/* CONTACT */
    
    .contact_content{
        flex-direction: row; 
        width: 100%;
    } 
    
    .contact_content_title {
        margin: 0;
        width: 20%;
    }

    .contact_content_text {
        font-size: 1rem;
    }
    
    .contact_bottom-menu {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
    }

    .contact_bottom-menu_el {
        margin: 0;
    }

}

/*============================================================================
==============================================================================
MEDIA MEDIUM DESKTOP
==============================================================================
============================================================================*/

@media (min-width: 992px) {

    :root {
        --header-fs: 5.5rem;
        --menu-fs: 7.5rem;
                        
        --text-fs: 1rem;
        --title-fs: 2.5rem;
    }

    main {
        max-width: 800px;
        margin: 0 auto;    
    }

    .hero_content {
        flex-direction: row;
    }

    .hero_content_top-menu {
        order: 1;
    }
    
    /* SOCIAL BOX */

    .social-box {
        order: 0;
        align-self: flex-end;
    }
    
    /* ABOUT ME */

    .about-me_btn-container {
        margin: 2rem 0 0 0;
    }

    /* SKILLS */
    
    /* PROJECTS */

    .projects-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projects_panel {
        flex-direction: row;
        margin: 0 0 3rem 0;
    }

    .projects_panel_img {
        width: 60%;
        margin: 0 2rem 0 0;
        }
    
    .projects_panel {
        width: 100%;
    }

    /* CONTACT */

}

/*============================================================================
==============================================================================
MEDIA LARGE DESKTOP
==============================================================================
============================================================================*/

@media (min-width: 1600px) {

    :root {
        --header-fs: 5.25rem;
        --menu-fs: 5rem;

        --title-margin: 0 4rem 0 0;
    }

    .large-desktop {
        display: inline;
    }

    main {
        max-width: 1400px;  
    }

    section,
    footer {
        flex-direction: row;
        align-items: flex-start;
        margin: 16rem 0 0 0;
    }

    .panel {
        width: 60%;
    }

    .title {
        width: 20%;
        text-align: right;
    }

    /* HERO */

    .hero {
        height: 100vh;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .hero_title {
        flex-direction: column;
        justify-content: center;
        border: none;
        width: 30%;
        padding: 0;
    }

    .hero_title_main {
        font-size: 12rem;
        margin: 0;
    }

    .hero_title_sub {
        margin: 0;
    }

    .hero_content {
        flex-direction: row;
        align-items: center;
        width: 40%;
    }

    .hero_content_top-menu_el:last-child {
        margin: 0;
    }

    /* SOCIAL BOX */

    .social-box {
        align-self: flex-end;
    }

    /* ABOUT ME */

    .first-title {
        margin: var(--title-margin);
    }

    .about-me_text-panel {
        margin: 0;
    }

    .about-me_text:last-child {
        margin: 0;
    }

    .btn-container {
        flex-direction: column;
        width: 20%;
        margin: 0 0 0 4rem;
    }

    .about-me_btn-container {
        margin: 0 0 0 4rem;
    }

    .top-btn {
        margin: 0 0 2rem 0;
    }    

    .btn-link {
        margin: 0;
    }

    /* SKILLS */

    .skills_panel_content:last-child {
        margin: 0;
    }

    /* PROJECTS */

    .projects_panel:last-child {
        margin: 0;
    }

    /* CONTACT */

}